.fuente {
  font-size: 25px;
  color: white;
}

figure {
  position: relative;
  transition: all ease 0.5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
}
.contenedor-tarjeta {
  display: inline-block;
}
.contenedor-tarjeta:hover figure {
  -webkit-transform: perspective(600px) rotateY(180deg);
  -ms-transform: perspective(600px) rotateY(180deg);
  -o-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);

  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.39);
}

.contenedor-tarjeta:hover figure img {
  filter: blur(1.3px);
}

figure .frontal,
figure .trasera {
  border-radius: 5px;
  transition: all ease 0.5s;
}
figure .frontal {
  display: block;
}
figure .trasera {
  position: absolute;
  top: 0;
  color: #fff;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/sacosMas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header:before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(34, 40, 49, 1)
  );
}

.text-header {
  position: relative;
  min-height: 100vh;
  font-size: 30px;
  color: #f4f4f4f4;
}

.text-header span {
  letter-spacing: 5px;
  font-size: 1.3em;
  margin: 0 0 0 5px;
}
.text-header p {
  font-size: 1em;
}
.text-header a span {
  color: #f4f4f4;
}
.text-header a span:hover {
  color: black;
}
.btn-yo {
  padding: 7px 12px;
  color: #f4f4f4;
  background-color: #efba1b;
}
.btn-yo:hover {
  background-color: #efba1b;
}

.bgcolornav {
  background-color: #efba1b;
}
@media (max-width: 360px){
    .iconContact{
        width: 50px;
        height: 50px;
    }
}
